# registry=https://registry.npmjs.org/
# @sirajtechy:registry=https://npm.pkg.github.com/
# //npm.pkg.github.com/:_authToken=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
# registry=https://npm.pkg.github.com/sirajtechy


# In case of scripbox packages, scope is going to be scripbox
@sirajtechy:registry = https://npm.pkg.github.com

_authToken = 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
always-auth = true