.btn {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.btn--primary {
  color: white;
  background-color: #0277bd;
}
.btn--primary:hover {
  background-color: #0570af;
}
.btn--primary:disabled {
  background-color: rgba(2, 119, 189, 0.5);
}

.btn--secondary {
  color: white;
  background-color: #b7bec6;
}
.btn--secondary:hover {
  background-color: #858c94;
}
.btn--secondary:disabled {
  background-color: rgba(144, 152, 161, 0.5);
}

.btn--tertiary {
  color: #0277bd;
  background-color: white;
}
.btn--tertiary:hover {
  color: #0570af;
}
.btn--tertiary:disabled {
  color: rgba(2, 119, 189, 0.5);
}

.btn--success {
  color: white;
  background-color: #28a745;
}
.btn--success:hover {
  background-color: #208738;
}
.btn--success:disabled {
  background-color: rgb(40, 167, 69, 0.5);
}

.btn--alert {
  color: white;
  background-color: #dc3545;
}
.btn--alert:hover {
  background-color: #d82537;
}
.btn--alert:disabled {
  background-color: rgb(220, 53, 69, 0.5);
}

.btn--warning {
  color: white;
  background-color: #ffc107;
}
.btn--warning:hover {
  background-color: #f2b600;
}
.btn--warning:disabled {
  background-color: rgb(255, 193, 7, 0.5);
}

.btn--small {
  font-size: 12px;
  padding: 10px 16px;
}
.btn--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.btn--large {
  font-size: 16px;
  padding: 12px 24px;
}

.btn--fill {
  border-radius: 5px;
}
.btn--rounded {
  border-radius: 20px;
}

.btn--primary.btn--ghost {
  border: 2px solid;
  border-color: #0277bd;
  border-radius: 5px;
  color: #0277bd;
  background-color: white;
}
.btn--primary.btn--ghost:hover {
  border-color: #0570af;
  color: #0570af;
}
.btn--primary.btn--ghost:disabled {
  border-color: rgba(2, 119, 189, 0.5);
  color: rgba(2, 119, 189, 0.5);
}

.btn--secondary.btn--ghost {
  border: 2px solid;
  border-color: #b7bec6;
  border-radius: 5px;
  color: #b7bec6;
  background-color: white;
}
.btn--secondary.btn--ghost:hover {
  border-color: #858c94;
  color: #858c94;
}
.btn--secondary.btn--ghost:disabled {
  border-color: rgba(144, 152, 161, 0.5);
  color: rgba(144, 152, 161, 0.5);
}

.btn--success.btn--ghost {
  border: 2px solid;
  border-color: #28a745;
  border-radius: 5px;
  color: #28a745;
  background-color: white;
}
.btn--success.btn--ghost:hover {
  border-color: #208738;
  color: #208738;
}
.btn--success.btn--ghost:disabled {
  border-color: rgb(40, 167, 69, 0.5);
  color: rgb(40, 167, 69, 0.5);
}

.btn--alert.btn--ghost {
  border: 2px solid;
  border-color: #dc3545;
  border-radius: 5px;
  color: #dc3545;
  background-color: white;
}
.btn--alert.btn--ghost:hover {
  border-color: #d82537;
  color: #d82537;
}
.btn--alert.btn--ghost:disabled {
  border-color: rgb(220, 53, 69, 0.5);
  color: rgb(220, 53, 69, 0.5);
}

.btn--warning.btn--ghost {
  border: 2px solid;
  border-color: #ffc107;
  border-radius: 5px;
  color: #ffc107;
  background-color: white;
}
.btn--warning.btn--ghost:hover {
  border-color: #f2b600;
  color: #f2b600;
}
.btn--warning.btn--ghost:disabled {
  border-color: rgb(255, 193, 7, 0.5);
  color: rgb(255, 193, 7, 0.5);
}
