.button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.button--primary {
  color: white;
  background-color: #0277bd;
}
.button--primary:hover {
  background-color: #0570af;
}
.button--primary:disabled {
  background-color: rgba(2, 119, 189, 0.5);
}

.button--secondary {
  color: white;
  background-color: #b7bec6;
}
.button--secondary:hover {
  background-color: #858c94;
}
.button--secondary:disabled {
  background-color: rgba(144, 152, 161, 0.5);
}

.button--borderLess {
  color: #0277bd;
  background-color: white;
}
.button--borderLess:hover {
  color: #0570af;
}
.button--borderLess:disabled {
  color: rgba(2, 119, 189, 0.5);
}

.button--success {
  color: white;
  background-color: #28a745;
}
.button--success:hover {
  background-color: #208738;
}
.button--success:disabled {
  background-color: rgb(40, 167, 69, 0.5);
}

.button--alert {
  color: white;
  background-color: #dc3545;
}
.button--alert:hover {
  background-color: #d82537;
}
.button--alert:disabled {
  background-color: rgb(220, 53, 69, 0.5);
}

.button--warning {
  color: white;
  background-color: #ffc107;
}
.button--warning:hover {
  background-color: #f2b600;
}
.button--warning:disabled {
  background-color: rgb(255, 193, 7, 0.5);
}

.button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.button--fill {
  border-radius: 5px;
}
.button--rounded {
  border-radius: 20px;
}

.button--primary.button--ghost {
  border: 2px solid;
  border-color: #0277bd;
  border-radius: 5px;
  color: #0277bd;
  background-color: white;
}
.button--primary.button--ghost:hover {
  border-color: #0570af;
  color: #0570af;
}
.button--primary.button--ghost:disabled {
  border-color: rgba(2, 119, 189, 0.5);
  color: rgba(2, 119, 189, 0.5);
}

.button--secondary.button--ghost {
  border: 2px solid;
  border-color: #b7bec6;
  border-radius: 5px;
  color: #b7bec6;
  background-color: white;
}
.button--secondary.button--ghost:hover {
  border-color: #858c94;
  color: #858c94;
}
.button--secondary.button--ghost:disabled {
  border-color: rgba(144, 152, 161, 0.5);
  color: rgba(144, 152, 161, 0.5);
}

.button--success.button--ghost {
  border: 2px solid;
  border-color: #28a745;
  border-radius: 5px;
  color: #28a745;
  background-color: white;
}
.button--success.button--ghost:hover {
  border-color: #208738;
  color: #208738;
}
.button--success.button--ghost:disabled {
  border-color: rgb(40, 167, 69, 0.5);
  color: rgb(40, 167, 69, 0.5);
}

.button--alert.button--ghost {
  border: 2px solid;
  border-color: #dc3545;
  border-radius: 5px;
  color: #dc3545;
  background-color: white;
}
.button--alert.button--ghost:hover {
  border-color: #d82537;
  color: #d82537;
}
.button--alert.button--ghost:disabled {
  border-color: rgb(220, 53, 69, 0.5);
  color: rgb(220, 53, 69, 0.5);
}

.button--warning.button--ghost {
  border: 2px solid;
  border-color: #ffc107;
  border-radius: 5px;
  color: #ffc107;
  background-color: white;
}
.button--warning.button--ghost:hover {
  border-color: #f2b600;
  color: #f2b600;
}
.button--warning.button--ghost:disabled {
  border-color: rgb(255, 193, 7, 0.5);
  color: rgb(255, 193, 7, 0.5);
}
