.grid-container {
    display: grid;
    grid: auto / auto auto auto;
    grid-gap: 15px 20px;
    background-color: transparent;
    padding: 25px;
  }
  .DialPadDesign{
    width: 250px;
  }
  .grid-container > div {
    background-color: rgb(239,239,239);
    text-align: center;
    color: rgb(87,95,110);
    padding: 9px;
    font-size: 18px;
    border-radius: 50px;
    width: 40px;
    cursor: pointer
  }

  div.item:last-child , div.item:nth-child(10) {
    background: transparent;
    font-style: 15px;
  }
 